<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Pinstagram</title>
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<script src="https://kit.fontawesome.com/9e5ec7d261.js" crossorigin="anonymous"></script>
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="{% url 'home' %}" title=""><img src="{% static 'images/logo.png' %}" alt=""  height="76px" width="76px"></a>dasdasasd
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>
	</div><!-- responsive header -->
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="" height="65px" width="65px"></a>
		</div>
		
		<div class="top-area">
			<ul class="main-menu">
				<li>
					<a href="{% url 'home' %}" title="">Home</a>
				</li>
				<li>
					<a href="#" title="">Account settings</a>
					<ul>
						<li><a href="#####################################" title="">edit account</a></li>
						<li><a href="#####################################" title="">edit-password</a></li>
						<li><a href="{% url 'chat_view' %}" title="">Inbox</a></li>
						<li><a href="{% url 'logout' %}" title="">Log out</a></li>
					</ul>
				</li>
			</ul>
			<ul class="setting-area">
				<li>
					<a href="#" title="Home" data-ripple=""><i class="ti-search"></i></a>
					<div class="searched">
						<form method="post" class="form-search">
							<input type="text" placeholder="Search aaFriend">
							<button data-ripple><i class="ti-search"></i></button>
						</form>
					</div>
				</li>
				<li><a href="{% url 'home' %}" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
				<li>
					<a href="{% url 'chat_view' %}" title="Messages" data-ripple=""><i class="ti-comment"></i></a>
				</li>
			</ul>
			<div class="user-img">
				<img src="images/resources/admin.jpg" alt="">
				<span class="status f-online"></span>
				<div class="user-setting">
					<a href="{% url 'myself' %}" title=""><i class="ti-user"></i> view profile</a>
					<a href="#########################################" title=""><i class="ti-pencil-alt"></i>edit profile</a>
					<a href="{% url 'logout' %}" title=""><i class="ti-power-off"></i>log out</a>
				</div>
			</div>
			<span class="ti-menu main-menu" data-ripple=""></span>
		</div>
	</div><!-- topbar -->


	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget stick-widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="{% url 'home' %}" title="">Home</a>
											</li>
										</ul>
									</div><!-- Shortcuts -->										
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="messages">
										<h5 class="f-title"><i class="ti-bell"></i>All Messages <span class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
										<div class="message-box">
											<div class="peoples-mesg-box">
												<div class="conversation-head">
													<figure>                                                                    
                                                        {% if receiver.image %}
                                                            <img src="{{receiver.image.url}}" alt="" height="76" width="76">
                                                        {% else %}
                                                            <img src="{% static 'images/default_user.png' %}" height="76" width="76">
                                                        {% endif %}</figure>
													<span>{{receiver.user.username}}</span>
												</div>
												<ul class="chatting-area">
                                                    {% for message in messages %}

                                                    {% if message.receiver == receiver %}
													<li class="me">
														<figure>
                                                            {% if receiver.image %}
                                                            <img src="{{receiver.image.url}}" alt="" height="76" width="76">
                                                            {% else %}
                                                            <img src="{% static 'images/default_user.png' %}" height="76" width="76">
                                                            {% endif %}</figure>
														<p>{{message.body}}</p>
													</li>
                                                    {% elif message.sender == user.profile %}
													<li class="you">
														<figure>
                                                            {% if user.profile.image %}
                                                            <img src="{{user.profile.image.url}}" alt="" height="76" width="76">
                                                            {% else %}
                                                            <img src="{% static 'images/default_user.png' %}" height="76" width="76">
                                                            {% endif %}</figure>
                                                        </figure>
														<p>{{message.body}}</p>
													</li>
                                                    {% endif %}
                                                    {% endfor %}
												</ul>
												<div class="message-text-container">
													<form method="post">{% csrf_token %}
														<textarea name="body"></textarea>
														<button title="send" type="submit"><i class="fa fa-paper-plane"></i></button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
</footer><!-- footer -->
<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
                <i><img src="images/credit-cards.png" alt=""></i>
            </div>
        </div>
    </div>
</div>
</div>
<div class="side-panel">
        <h4 class="panel-title">Menu</h4>
            <div class="setting-row">
                <span><a href="">profile</a></span>
            </div>
            <div class="setting-row">
                <span><a href="">Log out</a></span>
            </div>
    </div><!-- side panel -->		
            
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/map-init.js' %}"></script>

</body>	

</html>